/* Project Hero Overrides */

/* Controls the overall height of the hero section */
#hero {
  /* 70% of the screen height */
  min-height: 70dvh;
}

/* Changes the layout to one column */
.hero-inner {
  grid-template-columns: 1fr;
  text-align: left;
  justify-items: start;
}

/* This is "Projec #" */
.hero-title {
  font-size: var(--text-xl);
}

/* This is the project title */
.hero-role {
  font-size: var(--text-3xl);
  /*margin-top: var(--space-1);*/
}

/* Styles the video */
.project-video {
  display: block;
  width: 100%;
  max-width: 100%;
  border-radius: var(--radius-lg);
  margin-top: var(--space-5);
}