/* Project Hero Overrides */

#hero {
  min-height: 70dvh;
}

.hero-inner {
  grid-template-columns: 1fr;
  text-align: left;
  justify-items: left;
}

.hero-title {
  font-size: var(--text-3xl);
}

.hero-role {
  font-size: var(--text-hero);
  margin-top: var(--space-4);
}

.hero-description {
  max-width: 800px;
  font-size: var(--text-lg);
  margin-inline: auto;
}